{% extends "admin/base.html" %}
{% block content %}

    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Ürünler Tablosu
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">


            <div class="kt-section">
												<span class="kt-section__info">
													Tablo 1
												</span>
        <div class="kt-section__content">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Başlık</th>
                    <th>Detay</th>
                    <th>Resim</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in object_list %}
                    <tr>
                        <td></td>
                        <td><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a></td>
                        <td>{{ obj.description }}</td>
                        <td> {% if object.image %}<img src='{{ obj.image.url }}' class="img-fluid">{% endif %}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
        </div>
    </div>
{% endblock %}
